<div class="row">
    <h3>Cocina</h3>
</div>

<div class="row">
    <p>Pendiente de cocinar:</p>
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nro</th>
                <th scope="col">Pedido</th>
                <th scope="col">Accion</th>
            </tr>
        </thead>
        <tbody>
            @for (orden of pedidoService.getPedidosIngresados(); track $index) {
                <tr>
                    <td>{{orden.number}}</td>
                    <td>{{orden.description}}</td>
                    <td><button type="button" class="btn btn-primary" (click)="cocinarPedido($index)">Cocinar</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="row">
    <h3>Pedido en coccion</h3>
</div>
@if(pedidoEnCoccion.length > 0){
    <div class="row">
        <p>{{pedidoEnCoccion[0].number}}{{pedidoEnCoccion[0].name}} - {{pedidoEnCoccion[0].description}}</p>
    </div>
}
<div class="row">
    <button type="button" class="btn btn-primary" (click)="terminarPedido()">Pedido Terminado</button>
</div>